# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE & 에디터
# JetBrains (IntelliJ, PyCharm 등)
.idea/
# Visual Studio Code (팀 공유 설정을 제외한 개인 설정)
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# claude
**/.claude/
**/.scratch/